<!DOCTYPE HTML>
<html>
    <head>
        <script src="/js/jquery.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/vee-validate.min.js"></script>
        <script src="/js/languages/language_en.js"></script>
        <script src="/js/languages/language_kr.js"></script>
        <script src="/js/website_base.js"></script>
        <script src="/js/website_error.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/website_base.css"/>
        <link rel="stylesheet" href="/css/website_error.css"/>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
        <meta charset="UTF-8">
        <title>{{title}} :: {{subtitle}}</title>
    </head>
    <body>
        <div class="modalIndicator"></div>
        <div class="body">
            <div class="modalIndicator"></div>
            <div>
                <h2 class="errorTitle">
                    {{errorTitle}}
                </h2>
                <div class="errorContainer">
                    <div>
                        <div class="errorDescription">
                            <h2>{{errorSubtitle}}</h2>
                            <p v-for="(error, index) in errorDescriptionList">{{error.text}}</p>
                            
                            <p>-----------------------log-----------------------</p>
                            <p>url : {{errorUrl}}, past-url: {{errorPastUrl}}</p>
                            <p>time : {{errorTime}}</p>
                        </div>
                        <button class="btn btn-primary" v-on:click="checkEvent(errorButton[0])">{{errorButton[0].name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h5 class="copyright">{{copyright}}</h5>
            <span class="dropdownPreference">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPreferenceToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdownPreferenceMenu" aria-labelledby="dropdownPreferenceToggle">
                    <a v-bind:class="'dropdown-item ' + language.tag" v-for="language in languagePreference" v-on:click="menuEvent(language, language.tag)">{{language.name}}</a>
                </div>
            </span>
        </div>
    </body>
</html>