<!DOCTYPE HTML>
<html>
    <head>
        <script src="/js/jquery.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/languages/language_en.js"></script>
        <script src="/js/languages/language_kr.js"></script>
        <script src="/js/website_base.js"></script>
        <script src="/js/website_index.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/website_base.css"/>
        <link rel="stylesheet" href="/css/website_index.css"/>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="modalIndicator"></div>
        <div class="header">
            <div class="render">
                <img alt="mainImage1" src="/img/san-francisco-free-photo-picjumbo-com.jpg"/>
            </div>
            <div class="topbar">
                <div class="logo">
                    <div>
                        <a href="/">Arkiee</a>
                    </div>
                </div>
                <ul class="menu">
                    <li v-for="menu in menuList">
                        <a v-bind:href="menu.url">{{menu.name}}</a>
                    </li>
                    <li class="login">
                        <ul>
                            <li v-if="!sessionAvailability">
                                <a v-bind:href="loginButton1[0].url">{{loginButton1[0].name}}</a>
                            </li>
                            <li v-if="!sessionAvailability">
                                <button class="btn btn-primary" v-on:click="menuEvent(loginButton2, loginButton2[0].name)">{{loginButton2[0].name}}</button>
                            </li>
                            <li v-if="sessionAvailability">
                                <a v-bind:href="profileButton[0].url">{{profileButton[0].name}}</a>
                            </li>
                            <li v-if="sessionAvailability">
                                <button class="btn btn-danger" v-on:click="menuEvent(logoutButton, logoutButton[0].name)">{{logoutButton[0].name}}</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="surface">
                <div class="surface-contents">
                    <div>
                        <h2>Welcome to</h2>
                        <h2>Arkiee's website </h2>
                        <div>Sed non orci risus. Nulla ac libero et velit vulputate ultricies at at massa. Donec sagittis lacus arcu, vel convallis leo fringilla et. Integer feugiat mi in est elementum, at euismod lorem bibendum. Pellentesque sit amet urna ipsum. Duis vestibulum diam ut odio elementum, nec vulputate ante ultrices. Nunc ut purus hendrerit, vehicula turpis sit amet, mattis nisl. Mauris eget nisi elementum, iaculis mauris eu, vehicula nisl. Suspendisse non nibh quis massa vulputate consequat.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body"></div>
        <div class="footer">
            <h5 class="copyright">{{copyright}}</h5>
            <span class="dropdownPreference">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPreferenceToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdownPreferenceMenu" aria-labelledby="dropdownPreferenceToggle">
                    <a v-bind:class="'dropdown-item ' + language.tag" v-for="language in languagePreference" v-on:click="menuEvent(language, language.tag)">{{language.name}}</a>
                </div>
            </span>
        </div>
    </body>
</html>