<!DOCTYPE HTML>
<html>
    <head>
        <script src="/js/jquery.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/languages/language_en.js"></script>
        <script src="/js/languages/language_kr.js"></script>
        <script src="/js/vee-validate.min.js"></script>
        <script src="/js/website_base.js"></script>
        <script src="/js/website_login.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/website_base.css"/>
        <link rel="stylesheet" href="/css/website_login.css"/>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
        <meta charset="UTF-8">
        <title>{{title}} :: {{subtitle}}</title>
    </head>
    <body>
        <div class="modalIndicator"></div>
        <div class="body">
            <div>
                <h2 class="loginTitle">
                    {{loginTitle}}
                </h2>
                <div class="loginContainer">
                    <div class="loginIndicator" id="disabled">
                        <p class="loginIndicatorViewer"></p>
                    </div>
                    <div class="loginForm">
                        <div v-for="(form, index) in formList">
                            <div>{{form.name}}</div>
                            <input v-bind:class=" 'form_' + form.tag" v-model="form.input" v-on:input="inputEvent(form, form.input)">
                            <div v-bind:class=" 'warning' + ' warning_' + form.tag" v-show="form.error != undefined"></div>
                        </div>
                        <div v-for="checkbox in autoLoginCheckbox">
                            <input type="checkbox" class="autoLogin" v-model="checkbox.input">
                            <span>{{checkbox.name}}</span>
                        </div>
                        <div v-for="login in loginButton">
                            <button class="btn btn-primary" v-on:click="check(formList)">{{login.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h5 class="copyright">{{copyright}}</h5>
            <span class="dropdownPreference">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPreferenceToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdownPreferenceMenu" aria-labelledby="dropdownPreferenceToggle">
                    <a v-bind:class="'dropdown-item ' + language.tag" v-for="language in languagePreference" v-on:click="menuEvent(language, language.tag)">{{language.name}}</a>
                </div>
            </span>
        </div>
    </body>
</html>