<transition name="modal">
    <div class="modalMask">
        <div class="modalWrapper">
            <div class="modalContainer">
                <div class="modalHeader">
                    <!-- header -->
                    <slot name="header"></slot>
                </div>
    
                <div class="modalBody">
                    <!-- body -->
                    <slot name="body"></slot>
                </div>
    
                <div class="modalFooter">
                    <!-- footer -->
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</transition>