<!DOCTYPE HTML>
<html>
    <head>
        <script src="/js/jquery.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/vee-validate.min.js"></script>
        <script src="/js/languages/language_en.js"></script>
        <script src="/js/languages/language_kr.js"></script>
        <script src="/js/website_base.js"></script>
        <script src="/js/website_profile.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/website_base.css"/>
        <link rel="stylesheet" href="/css/website_profile.css"/>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
        <meta charset="UTF-8">
        <title>{{title}} :: {{subtitle}}</title>
    </head>
    <body>
        <div class="modalIndicator">
            <modal-indicator v-if="modalShow">
                <h3 slot="header"> {{modalHeader}}</h3>
                <p slot="body"> {{modalContent}}</p>
                <div slot="footer">
                    <button class="btn btn-warning" v-on:click="confirm(true)"> {{modalYes}} </button>
                    <button class="btn btn-primary" v-on:click="confirm(false)"> {{modalNo}} </button>
                </div>
            </modal-indicator>
        </div>
        
        <div class="body">
            <div>
                <h2 class="profileTitle">
                    {{profileTitle}}
                </h2>
                <div class="profileNotifier" id="disabled">
                    <p class="profileNotifierViewer"></p>
                </div>
                <div class="profileContainer">
                    <div>
                        <div class="profileIndicator">
                            <div class="profileLabel" v-if="responseData != null">
                                <p v-for="(data, index) in profileDataList" v-show="!passwordMode">{{data.name}}</p>
                                <p v-for="data in profilePasswordList" v-show="passwordMode">{{data.name}}</p>
                            </div>
                            <div class="profileInput" v-if="responseData != null">
                                <div v-for="(data, index) in profileDataList" v-show="!passwordMode">
                                    <p v-bind:class=" 'profile_preview_' + data.tag" v-show="!editMode">{{responseData[data.response]}}</p>
                                    <input v-bind:class=" 'profile_input_' + data.tag" v-model="data.input" v-show="editMode" v-on:change="changeEvent(data, data.input)" v-on:input="inputEvent(data, data.input)">
                                    <div v-bind:class=" 'warning' + ' warning_' + data.tag" v-show="editMode && data.error"></div>
                                    <div v-bind:class=" 'allowed' + ' allowed_' + data.tag" v-show="editMode && !data.error"></div>
                                </div>
                                <div v-for="(data, index) in profilePasswordList" v-show="passwordMode">
                                        <input v-bind:class=" 'profile_input_' + data.tag" v-model="data.input" v-on:input="inputEvent(data, data.input)">
                                        <div v-bind:class=" 'warning' + ' warning_' + data.tag" v-show="data.error"></div>
                                        <div v-bind:class=" 'allowed' + ' allowed_' + data.tag" v-show="!data.error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="profileAction">
                            <div v-for="(data, index) in profileButtonList">
                                <button v-bind:class="'btn btn-' + data.buttonLevel + ' ' + data.tag"
                                        v-show="!data.disabled" v-on:click="clickEvent(data.tag)">{{data.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h5 class="copyright">{{copyright}}</h5>
            <span class="dropdownPreference">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPreferenceToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdownPreferenceMenu" aria-labelledby="dropdownPreferenceToggle">
                    <a v-bind:class="'dropdown-item ' + language.tag" v-for="language in languagePreference" v-on:click="menuEvent(language, language.tag)">{{language.name}}</a>
                </div>
            </span>
        </div>
    </body>
</html>