.header {
    min-height: 430px;
    border-width: 15px !important;
    border-color: white;
    border-style: solid;
}
.render {
    width: 98%;
    height: 400px;
    position: absolute;
    z-index: -1;
    background: rgba(22, 22, 22, 0.6);
}
.render > img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    opacity: 0.7;
}
.topbar {
    width: 100%;
    font-family: Bariol-Regular, NanumGothic-Regular;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    font-family: Montserrat-Bold, NanumGothic-Bold;
    float: left;
}
.menu {
    float: right;
}
.mainHeader {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Montserrat-Bold, NanumGothic-Bold;
    text-shadow: 1px 5px rgba(22, 22, 22, 0.6);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid white;
}
.body {
    margin-top: 70px;
}
.body > div {
    width: 732px;
    margin: 0 auto;
}
.body > div > div {
    width: 732px;
}
.projectContents {
    list-style: none;
}
.projectContents > li {
    width: 340px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(22, 22, 22, 0.4);
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
}
.projectContents > li > div:not(.projectThumbnail) {
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
#projectSelected {
    border: 7px solid rgba(255, 0, 0, 0.4);
}
.projectThumbnail {
    width: 130px;
    height: 100px;
    vertical-align: middle;
    display: inline-block;
}
.projectContents > li > div > div {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
}
.projectContents > li > div > .projectSubtitle {
    font-size: 12px;
}
.projectTitleContainer {
    margin-bottom: 20px;
}
.projectThumbnail > img {
    width: 100%;
    height: 100%;
}
.projectPostSubtitle {
    text-align: center;
}
.projectPostManager {
    margin-top: 60px;
    text-align: center;
}
.projectPostManager > button {
    margin-left: 10px;
    margin-right: 10px;
}
.projectMultiMediaUploader {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre-line;
}
.projectViewContainer {
    margin-bottom: 50px !important;
}
.projectView {
    padding-top: 30px;
}
.projectViewTitle {
    text-align: left;
}
.projectViewSubtitle {
    text-align: left;
    color: rgba(22, 22, 22, 0.4);
}
.projectViewContents {
    margin-top: 80px;
    width: 732px;
    margin-bottom: 80px;
}
.projectViewContents video {
    width: 100%;
}
.projectComment > div:not(.projectCommentList) {
    margin-bottom: 30px;
}
.projectComment > .projectCommentList > div:first-child {
    border: 1px solid rgba(200, 212, 210, 0.6);
    border-radius: 2px;
    padding: 10px;
    margin-top: 20px;
}
.projectComment > .projectCommentList > div:first-child > div:not(.projectCommentDate) {
    margin-top: 10px;
    margin-bottom: 10px;
}
.projectComment > .projectCommentList > div:first-child > .projectCommentContents {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
    white-space: nowrap;
}
.projectComment > .projectCommentList > div:first-child > .projectCommentName {
    font-size: 12px;
    color: rgba(22, 22, 22, 0.6);
    display: inline-block;
}
.projectComment > .projectCommentList > div:first-child > .projectCommentDate {
    font-size: 12px;
    color: rgba(22, 22, 22, 0.6);
    display: inline-block;
}
.projectCommentList > div:first-child > span > button {
    margin-left: 7px;
    margin-right: 7px;
}
.note-editor video{
    width: 100%;
}
.projectViewAuthor {
    text-align: right;
}
.topbar, .surface-contents {
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.topbar, .logo > div, .menu, .menu > li, .login, .login > ul > li {
    display: inline-block;
}
.logo > div > a, .menu li:not(.login) > a, .login > ul > li > * {
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo > div {
    padding-top: 6px;
}
.login > ul > li:last-child {
    padding-right: 20px;
}
.login button {
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
}