body{
    background: rgba(233, 233, 233, 0.8) !important;
}
.body > div{
    text-align: center;
    margin-top: 70px;
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.registerContainer {
    margin: 20px;
}
.registerForm {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgba(128, 128, 128, 0.8);
    padding: 20px 20px 20px 80px;
    background: white;
}
.registerForm > div {
    margin-bottom: 12px;
}
.registerForm > div > div:not(.warning, .allowed) {
    margin-top: 15px;
    margin-bottom: 3px;
}
.registerForm > div > input {
    width: 230px;
    border-style: groove;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
.registerForm > div > div:last-child:not(.warning, .allowed) {
    margin: 0 auto;
}
.registerForm button {
    width: 200px;
    margin-top: 20px;
    margin-left: 15px;
}