body{
    background: rgba(233, 233, 233, 0.8) !important;
}
.body > div{
    text-align: center;
    margin-top: 70px;
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.profileContainer {
    margin: 20px;
}
.profileContainer > div {
    text-align: left;
    width: 500px;
    margin: 0 auto;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgba(128, 128, 128, 0.8);
    padding: 20px;
    background: white;
}
.profileNotifier {
    width: 300px;
    margin: 0 auto;
    white-space: pre-line;
}
.profileNotifier > p {
    background-color: lightskyblue;
    font-size: 22px;
}
.profileIndicator {
    width: 100%;
    overflow: hidden;
}
.profileAction > div > button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.profileIndicator > .profileLabel {
    width: 50%;
    height: 150px;
    float: left;
    padding-right: 30px;
}
.profileIndicator > .profileLabel > p {
    text-align: right;
    margin-bottom: 22px;
}
.profileIndicator > .profileInput {
    width: 50%;
    height: 150px;
    float: right;
    padding-left: 30px;
}
.profileIndicator > .profileInput > div {
    width: 100%;
}
.profileIndicator > .profileInput > div > input {
    width: 230px;
    border-style: groove;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
.profileIndicator > .profileInput > div > p {
    width: 100%;
    text-align: left;
    margin-bottom: 22px;
}
.profileIndicator > .profileInput > div > input {
    width: 100%;
    height: 24px;
    text-align: left;
    margin-bottom: 22px;
}
.profileIndicator > .profileInput > div > #gotEvent {
    margin-bottom: 0px;
}
.profileIndicator > .profileInput > div > .warning {
    margin-top: 2px;
    margin-bottom: 2px;
}
.profileIndicator > .profileInput > div > .allowed {
    margin-top: 2px;
    margin-bottom: 2px;
}
/* Setting for model */
.modalIndicator .modalBody {
    white-space: pre-line;
}
.modalIndicator button {
    margin-left: 10px;
    margin-right: 10px;
}