.header {
    min-height: 430px;
    border-width: 15px !important;
    border-color: white;
    border-style: solid;
}
.render {
    width: 98%;
    height: 400px;
    position: absolute;
    z-index: -1;
    background: rgba(22, 22, 22, 0.6);
}
.render > img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    opacity: 0.7;
}
.topbar {
    width: 100%;
    font-family: Bariol-Regular, NanumGothic-Regular;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    font-family: Montserrat-Bold, NanumGothic-Bold;
    float: left;
}
.menu {
    float: right;
}
.body {
    margin-top: 70px;
}
.body > div {
    width: 820px;
    margin: 0 auto;
}
.body > div > div {
    width: 820px;
    margin-top: 10px;
    overflow: hidden;
}
.body h2 {
    width: 100px;
    font-family: Montserrat-Bold, NanumGothic-Bold;
    margin-left: 20px;
    margin-top: 20px;
    transform: rotate(-90deg);
}
.body > div > div > .aboutTitle {
    float: left;
    padding-right: 20px;
}
.body > div> div > div:not(.aboutTitle) {
    float: left;
    padding-left: 30px;
    text-align: left;
    border-left: 1px solid;
    border-color: black;
}
.topbar, .surface-contents {
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.topbar, .logo > div, .menu, .menu > li, .login, .login > ul > li {
    display: inline-block;
}
.logo > div > a, .menu li:not(.login) > a, .login > ul > li > * {
    color: white;
    padding: 5px 25px;
}
.logo > div {
    padding-top: 6px;
}
.login > ul > li:last-child {
    padding-right: 20px;
}
.login button {
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
}