.header {
    min-height: 800px;
    border-width: 15px !important;
    border-color: white;
    border-style: solid;
}
.render {
    width: 98%;
    height: 780px;
    position: absolute;
    z-index: -1;
    background: rgba(22, 22, 22, 0.6);
}
.render > img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    opacity: 0.7;
}
.topbar {
    width: 100%;
    font-family: Bariol-Regular, NanumGothic-Regular;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    font-family: Montserrat-Bold, NanumGothic-Bold;
    float: left;
}
.menu {
    float: right;
}
.surface {
    width: 100%;
    min-height: 600px;
}
.surface-contents {
    float: right;
    padding-top: 100px;
    padding-right: 250px;
    max-width: 600px;
    color:white;
}
.surface-contents > div {
    padding: 20px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    background-color: rgba(22, 22, 22, 0.2);
}
.surface-contents > div > div {
    padding-top: 30px;
}
.topbar, .surface-contents {
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.topbar, .logo > div, .menu, .menu > li, .login, .login > ul > li {
    display: inline-block;
}
.logo > div > a, .menu li:not(.login) > a, .login > ul > li > * {
    color: white;
    padding: 5px 25px;
}
.logo > div {
    padding-top: 6px;
}
.login > ul > li:last-child {
    padding-right: 20px;
}
.login button {
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
}