.header {
    min-height: 430px;
    border-width: 15px !important;
    border-color: white;
    border-style: solid;
}
.render {
    width: 98%;
    height: 400px;
    position: absolute;
    z-index: -1;
    background: rgba(22, 22, 22, 0.6);
}
.render > img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
    opacity: 0.7;
}
.topbar {
    width: 100%;
    font-family: Bariol-Regular, NanumGothic-Regular;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.logo {
    font-family: Montserrat-Bold, NanumGothic-Bold;
    float: left;
}
.menu {
    float: right;
}
.mainHeader {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: Montserrat-Bold, NanumGothic-Bold;
    text-shadow: 1px 5px rgba(22, 22, 22, 0.6);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid white;
}
.body {
    margin-top: 70px;
}
.body > div {
    width: 732px;
    margin: 0 auto;
}
.body > div > div {
    width: 732px;
}
.lectureContents {
    list-style: none;
    margin-top: 30px;
}
.lectureContents > li > div:first-child {
    height: 80px;
    border: 1px solid rgba(22, 22, 22, 0.2);
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 20px;
    margin-bottom: 10px;
    background: rgba(233, 236, 239, 0.6);
    box-shadow: inset 0px -5px 15px rgba(22, 22, 22, 0.2);
}
#detailsShown {
    height: auto !important;
    overflow: visible !important;
    text-overflow: unset !important;
    box-shadow: inset 0px -2px 5px rgba(22, 22, 22, 0.2);
}
.lectureContents .lectureContentTitle {
    font-family: NanumGothic-Bold;
    font-size: 18px;
}
.lectureContents > .lectureContent > div:last-child {
    margin-bottom: 15px;
}
.lectureCommentContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lecturePostManager {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lecturePostManager > button, .lectureContent > div:last-child > button {
    margin-left: 10px;
    margin-right: 10px;
}
.lectureContinueButton {
    height: 80px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    padding-top: 30px;
}
.lectureComment > div:not(.lectureCommentList) {
    margin-bottom: 30px;
}
.lectureComment > .lectureCommentList > div:first-child {
    border: 1px solid rgba(200, 212, 210, 0.6);
    border-radius: 2px;
    padding: 10px;
    margin-top: 20px;
}
.lectureComment > .lectureCommentList > div:first-child > div:not(.lectureCommentDate) {
    margin-top: 10px;
    margin-bottom: 10px;
}
.lectureComment > .lectureCommentList > div:first-child > .lectureCommentContents {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
    white-space: nowrap;
}
.lectureComment > .lectureCommentList > div:first-child > .lectureCommentName {
    font-size: 12px;
    color: rgba(22, 22, 22, 0.6);
    display: inline-block;
}
.lectureComment > .lectureCommentList > div:first-child > .lectureCommentDate {
    font-size: 12px;
    color: rgba(22, 22, 22, 0.6);
    display: inline-block;
}
.lectureCommentList > div:first-child > span > button {
    margin-left: 7px;
    margin-right: 7px;
}
.note-editor {
    max-height: 300px;
}
.note-editor video{
    width: 100%;
}
.topbar, .surface-contents {
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.topbar, .logo > div, .menu, .menu > li, .login, .login > ul > li {
    display: inline-block;
}
.logo > div > a, .menu li:not(.login) > a, .login > ul > li > * {
    color: white;
    padding: 5px 25px;
}
.logo > div {
    padding-top: 6px;
}
.login > ul > li:last-child {
    padding-right: 20px;
}
.login button {
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
}