body{
    background: rgba(233, 233, 233, 0.8) !important;
}
.body > div{
    text-align: center;
    margin-top: 70px;
    font-family: Bariol-Regular, NanumGothic-Regular;
}
.errorContainer {
    margin: 20px;
}
.errorContainer > div {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgba(128, 128, 128, 0.8);
    padding: 20px;
    background: white;
}