@font-face {
    font-family: Montserrat-Bold;
    src: url(/font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Bariol-Regular;
    src: url(/font/bariol_regular-webfont.woff);
}
@font-face {
    font-family: Bariol-Italic;
    src: url(/font/bariol_regular_italic-webfont.woff);
}
@font-face {
    font-family: NanumGothic-Bold;
    src: url(/font/NanumGothic-Bold.woff);
}
@font-face {
    font-family: NanumGothic-Regular;
    src: url(/font/NanumGothic-Regular.woff);
}
@font-face {
    font-family: NanumGothic-Italic;
    font-style: italic;
    src: url(/font/NanumGothic-Regular.woff);
}


* {padding:0; margin:0; box-sizing:border-box;}

#disabled {
    display: none;
}
.footer {
    width: 100%;
    min-width: 720px;
    text-align: center;
    font-family: Bariol-Regular, NanumGothic-Regular;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copyright {
    display: inline-block;
}
.dropdownPreference {
    display: inline-block;
    padding-left: 100px;
}
.dropdownPreferenceMenu > a {
    cursor: pointer;
}
.warning {
    width: 230px;
    color: rgb(120, 0, 0);
    font-family: Bariol-Italic, NanumGothic-Italic;
    font-size: 12px;
    white-space: pre-line;
}
.allowed {
    width: 230px;
    color: rgb(0, 120, 0);
    font-family: Bariol-Regular, NanumGothic-Regular;
    font-size: 12px;
    white-space: pre-line;
}
/* Setting for model */
.modalMask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity .3s ease;
}
.modalWrapper {
    display: table-cell;
    vertical-align: middle;
}
.modalContainer {
    width: 400px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Bariol-Regular, NanumGothic-Regular;
    white-space: pre-line;
}
.modal-enter {
    opacity: 0;
}
.modal-leave-active {
    opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}